name: Level 2 Context Exploration

on:
  workflow_dispatch:
env:
  APP_NAME: level2-lab
  APP_ENV: dev

jobs:
  env-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: show env variables
        run: |
          echo "APP Name: $APP_NAME"
          echo "Environment: $APP_ENV"
