name: Level 2 Context Exploration

on:
  workflow_dispatch:
env:
  APP_NAME: level2-lab
  APP_ENV: dev

jobs:
  env-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: show env variables
        run: |
          echo "APP Name: $APP_NAME"
      - name: use secret 
        env: 
          MY_SECRET: ${{ secrets.DEMO_SECRET }}
        run: | 
          echo "using secret safely" 
          echo "Environment: $APP_ENV"
          echo "secret test: $MY_SECRET"
          
      - name: Always run step 
        run: echo "This step always runs"
          
      - name: Run only on main branch 
        if: github.ref_name == 'main' && github.actor == 'shivarawal'
        run: echo "Running because branch is MAIN"
          
      - name: Run only on feature branch
        if: github.ref_name == 'feature'
        run: echo "This should be skipped"
